/* Elementos
-----------------------*/
textarea{
    resize: none !important;
}
img{
    max-height: 50px;
}

/* Classes
--------------------------*/
.d-flex .layout{
    width: 900px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.d-flex .painel{
    flex: 1 1 auto;
}

.d-flex .flex-grow-5{
    flex: 5 0 300px;
}

.d-flex .flex-grow-grupo{
    flex: 1 1 200px;
    overflow-x: clip;
}

/* Id's
--------------------*/
#logo{
    max-height: 30px;
}