*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
textarea{
    resize: none;   
}

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Mea+Culpa&family=Noto+Sans+Display:wght@300&family=Source+Sans+Pro&display=swap');

/*Navegador superior*/
.navegador-superior{
    height: 40px;
    width: 100%;
    background-color: rgb(238, 93, 9);
    display: flex;
    justify-content: space-between;
}
.navegador-superior .navegador-botoes{
    display: flex;    
    justify-content: space-between;
}

.navegador-superior .navegador-botoes > *{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
}

/*botoes*/
.clearBotoes{
    background: none;
    border: none;
}

.navegador-superior .navegador-botoes .postar{
    padding: 0px 20px;
    border-left: 2px solid rgba(0,0,0,0.4);
}

.navegador-superior .navegador-botoes .menu-hamburguer{
    padding: 0px 20px;
    border-left: 2px solid rgba(0,0,0,0.4);
}

.navegador-superior .logo{
    height: 100%;
    margin-left: 20px;
    border-right: 2px solid rgba(0,0,0,0.4);
    padding-right: 10px;
}

/*Container*/
.container{
    display: flex;
    min-height: calc(100vh - 40px);
}

/*Feed*/
.container .feed{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
}

.container .feed .post{
    background-color: aquamarine;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    font-family: 'Imperial Script', cursive;
}

.container .feed .post.destaque{
    background-color: brown;
}

.container .feed .post .mensagem{
    font-family: 'Imperial Script', cursive;
}
/*Menu lateral retrátil*/
.container .menu-retratil{
    min-width: 0px;
    transition: min-width 1s;
    background-color: violet;
    min-height: calc(100% - 40px);
    
}
/*Substituir por active*/
.container .menu-retratil.active{
    min-width: 400px;
}

/*Modal*/
.overlay-modal{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-modal.active{
    display: flex;
    animation-name: aparecer;
    animation-duration: 500ms;
}

.overlay-modal .modal-container{
    height: 300px;
    width: 500px;
    background-color: wheat;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: cair;
    animation-duration: 500ms;
}

.overlay-modal .modal-container .modal-header{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-modal .modal-container .modal-header .fechar-modal{
    font-size: large;    
    color: rgba(0,0,0,0.4);
}

.overlay-modal .modal-container .modal-content{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    flex-grow: 2;
}

.overlay-modal .modal-container .modal-footer{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    flex-direction: row-reverse;
}

.overlay-modal .modal-container .modal-footer button{
    padding: 5px;
    border-radius: 4px;
    margin-left: 5px;
}

/*Formulario*/
.overlay-modal .modal-container .modal-content .formulario{
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 10px 20px;

    justify-content: space-around;
}

.overlay-modal .modal-container .modal-content .formulario .form-label{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: larger;
}

.overlay-modal .modal-container .modal-content .formulario .form-nome, .form-mensagem{
    display: flex;
    flex-direction: column;
}

.overlay-modal .modal-container .modal-content .formulario .form-texto{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 1px;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes cair{
    from{
        transform: translate(0px,-300px);
    }
    to{
        transform: translate(0px,0px);
    }
}