*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: rgb(32, 29, 29);
    font-family: 'Trebuchet MS',sans-serif;
}

img{
    max-height: 500px;
}

/*Navegador*/

.navegador{    
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
}

.navegador .botao-nav{
    display: block;
    padding: 20px;
    background-color: cornflowerblue;
}

.botao-nav:hover{
    color: rgb(35, 211, 79);
    transition-duration: 0.3s;
}

/*Dropdown do  navegador*/
.dropdown{
    position: relative;
}

.dropdown .dropdown-item{
    display: none;
    position: absolute;
    width: 300px;
}

.dropdown-item a{
    display: block;
    background-color:  cornflowerblue;
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
}
.dropdown-item a:hover{
    color: rgb(35, 211, 79);
    transition-duration: 0.3s;
}

.dropdown:hover .dropdown-item{
    display: block;
}

/*Artigo*/
.artigo{
    padding: 30px;
    border-top: 2px black solid;
}
.secao{
    padding: 10px;
}

/*Header*/
.cabecalho{
    padding: 10px;
}

/*Textos*/
.titulo{
    font-size: 2em;
    font-family: 'Tahoma',sans-serif;
}

.sub-titulo{
    font-size: 1em;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 2px;
}

.texto{
    max-width: 50%;
    font-family: Georgia, serif;
    margin-top: 5px;
}