@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*Header*/
.menu-superior{
    height: 50px;
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: space-evenly;
}

.menu-superior > .botao-nav{
    padding: 15px;
    background-color: rgb(151, 17, 17);
    font-family: Georgia, 'Times New Roman', serif;
    text-decoration: none;
    color:rgb(21, 21, 24);
    border-right: 1px solid black;
}

.botao-nav:hover{
    color:rgb(241, 3, 3);
    transition-duration: 0.5s;
}

/*Container de conteudo*/
.container{
    display: flex;    
}

/*Menus*/
.menu-cor{
    background-color: rgb(51, 50, 48);
}

.menu-lateral-esquerdo{
    flex: 1 0 300px;
}

.menu-lateral-direito{
    flex-grow: 1;
    flex-basis: 600px;
}

.links{
    display: block;
    text-decoration: none;
    padding: 10px;
    color:rgb(33, 54, 124);
    font-size: 1.5em;
}

/*Parte principal*/
.conteudo{
    flex-grow: 3;
    background-color: rgb(51, 50, 48);
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foto{
    height: 150px;
    width: 150px;
    margin: 25px;
    transition-duration: 0.3s;
}

.foto:hover{
    transform: scale(2);
}

/*Rodapé*/
.rodape{
    background-color: rgb(27, 26, 26);  
    width: 100vw;
    text-align: center;
}

.texto-rodape{
    color: wheat;
    padding: 10px;
    font-family: 'M PLUS 1', sans-serif;
}