@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*Header*/
.menu-superior{
    height: 50px;
    background-color: rgb(70, 70, 216);
    display: flex;
    justify-content: space-around;
}

.menu-superior > .botao-nav{
    padding: 15px;
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', serif;
    text-decoration: none;
    color:rgb(33, 54, 124);
}

.botao-nav:hover{
    color:rgb(241, 3, 3);
    transition-duration: 0.5s;
}

/*Container de conteudo*/
.container{
    display: flex;    
}

.menu-lateral-esquerdo{
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 0;
    background-color: blueviolet;
}

.conteudo{
    flex-grow: 3;
    flex-shrink: 1;
}

.menu-lateral-direito{
    flex-grow: 1;
    flex-basis: 600px;
}

.links{
    display: block;
    text-decoration: none;
    padding: 10px;
    color:rgb(33, 54, 124);
    font-size: 2em;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foto{
    height: 150px;
    width: 150px;
    margin: 40px;
}

/*Rodapé*/
.rodape{
    background-color: rgb(27, 26, 26);  
    width: 100vw;
    text-align: center;
}

.texto-rodape{
    color: wheat;
    padding: 10px;
    font-family: 'M PLUS 1', sans-serif;
}